/.vscode
/merge_overlapping_subinterval.exe
/ne.exe
/nthRoot.exe
/practice.exe
/remove_duplicates.exe
/remove_nthNode.exe
/rotateMatrix.exe
/singleElement.exe
/smallestString.exe
/stock.exe
/subarraySum.exe
/two_sum.exe